<!-- Loop over each object in the projects array -->
{{!-- {{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}} --}}

<div>
  <div class="home-page">
    <img src="./images/image8.jpg" alt="Image 1" width="60%" height="20%" style="float: left; border-radius: 50px; padding: 20px;"/>
    <h3 class="big-title">
      <p style="font-size: 50px; color: #313552 ">Are you a newbie to podcasts? Or an expert listener yet you want an easy way of discovering new topics? </p>
      <br>
      <img src="./images/image5.jpg" alt="Image 2" width="40%" height="15%" style="float: right; border-radius: 50px; padding: 35px;"/>
        <p style="font-size: 50px; color: #313552 ">Take our personality quiz, and based on your answers, the results will let you know what is best for your ears!
      </p>
      <br>
      <a href="/login" style="font-size: 40px;">Discover your new podcast today!</a>     
    </h3>
  </div>
</div>
