{{!-- <div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">project name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if podcasts.length}}
  <div class="col-md-6 project-list">
    <h3>Recommended Podcasts:</h3>

    {{#each podcasts as |podcast|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script> --}}

<body>
  <div class="container justify-content-center">
    <div class="card rounded">
        <div class=" d-block justify-content-center">
            <div class="area1 p-3 py-5"> </div>
            <div class="area2 p- text-center px-3">

 <form action="/profile" method="post" enctype="multipart/form-data">
  <input type="file" name="avatar" />
</form>
                <div class="image mr-3"> <img src="" class="rounded-circle" width="100" />
                 <h3 class="name mt-3">{{name}}'s</h3>
                 <h4 class="user_name mt-3">Amazing Profile</h4>
            <p class="information mt-3 text-justify">Quiz Results/ Your podcast subject/ genre here</p>
            <div class="d-flex justify-content-center mt-5">
               <ul class="list-quiz">
                 <li class="take_quiz"> <i class="fa fa-quiz"> <button class="btn quiz-button btn-block">Quiz</button></i></li>
                 <li class="results_quiz" <i class="fa fa-results"> <button class="btn quiz-button btn-block">Results</button></i></li>
               </ul>
            </div>
          </div>
          <div> </div>
      </div>
  </div>
</div>
</div>
</body>
</html>
